<table class="table table-striped">
    {{#each items as |item index|}}
        <tr>
            <td>{{add index 1}}</td>
            <td>U folderu <b>{{item.folder}}</b> se nalazi datoteka <b>{{item.file}}</b>.</td>
        </tr>
    {{/each}}
</table>
